*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // <-- = 1rem / 10px
}

body {
  box-sizing: border-box;
  // padding: 2rem;
  background-color: $color-dark;
  color: $color-light-2;
}

::selection {
  background-color: $color-light-2;
  color: $color-black;
}
