body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-light;
  font-family: $main-font-style;
}

.logo {
  font-size: 3rem;
  font-family: $main-font-style;
  display: block;
  position: absolute;
  padding: 3px;
  top: 0.35rem;
  left: 6.5rem;
}

.chapter-number {
  font-size: 5rem;
  line-height: 0.5;
  display: block;
}

.season {
  color: $color-light;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 0.5;
}

.section-heading {
  color: $color-light;
  margin-bottom: 3rem;
  font-family: $main-font-style;
}
